body,
html {
  font-family: "Mulish", sans-serif !important;
}

.MuiTypography-root {
  font-family: "Mulish", sans-serif;
}

button {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}

.MuiButton-label {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
